main.aux
main.fdb_latexmk
main.fls
main.log
main.out
main.synctex.gz
main.toc

section1.toc
section1.aux
section1.fdb_latexmk
section1.fls
section1.log
section1.out
section1.synctex.gz
section1.toc
section1.pdf

section2.toc
section2.aux
section2.fdb_latexmk
section2.fls
section2.log
section2.out
section2.synctex.gz
section2.toc
section2.pdf

section3.toc
section3.aux
section3.fdb_latexmk
section3.fls
section3.log
section3.out
section3.synctex.gz
section3.toc
section3.pdf
sections/section1.pdf
sections/section2.pdf
sections/section3.pdf
